@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&family=Noto+Serif+TC:wght@200..900&display=swap');
/* RESET */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* BASE STYLES */
body {
    font-family: "Noto Sans TC", "Noto Serif TC";
}

/* NORMAL STYLES */
.header {
    position: absolute;
    z-index: 2;
    background-color: transparent;
    width: 100%;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    min-height: 60px;
}

.logo {

}

.logo__img {
    height: 90px;
    display: block;
}

.nav-desktop {
    display: flex;
}

.nav-mobile {
    display: none;
}

.nav__list {
    display: flex;
    column-gap: 20px;
}

.nav__item {

}

.nav__link {
    color: rgba(78, 117, 85, 0.75);
    padding: 7px 14px;
    font-size: 17px;
    font-weight: 500;
    font-family: "Noto Serif TC";
}

.nav__link:hover, .dropdown:hover .nav__link {
    color: rgba(4, 87, 19, 0.75);
    background-color: rgba(241, 246, 233, 0.75);
}

.dropdown {
    position: relative;
    font-size: 15px;
    font-weight: 400;
    font-family: "Noto Serif TC";
    color: rgba(78, 117, 85, 0.75);
    padding: 7px 14px;
}

.dropdown__list {
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 100%;
    min-width: max-content;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
    display: none;
}

.dropdown:hover .dropdown__list {
    display: block;
}

.dropdown__item {
    padding: 10px 5px;
    cursor: pointer;
}

.dropdown__item:hover {
    color: rgba(4, 87, 19, 0.75);
    background-color: rgba(241, 246, 233, 0.75);
}

.dropdown__link {

}

/* hamburger menu */
:root {
    --bar-width: 20px;
    --bar-height: 2px;
    --hamburger-gap: 4px;
    --foreground: rgba(78, 117, 85, 0.5);
    --background: rgb(255, 255, 255);
    --hamburger-margin: 30px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height)* 3 + var(--hamburger-gap)*2);

}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: none;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    right: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after, 
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
     rotate var(--animation-timing), translate var(--animation-timing),
      background-color var(--animation-timing);
}

.hamburger-menu input {
    appearance: none;
    outline: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

/* bicolor background sections */
.bicolor {
    background-color: transparent;
    min-height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.left {
    background-color: rgb(241, 246, 233);
    height: inherit;
    width: 60%;
}

.right {
    background-color: rgb(255, 255, 255);
    height: inherit;
    width: 40%;
}


/* MEDIA QUERIES*/
@media (max-width: 1200px) {
    .dropdown__list {
        left: initial;
        right: 0;
    }
}

@media (max-width: 710px) {
    .hamburger-menu {
        display: flex;
    }

    .nav-desktop {
        display: none;
    }

    .nav-mobile {
        display: none;
    }

    .hamburger-menu:has(input:checked) ~ .nav-mobile {
        display: block;
    }

    .nav__list {
        margin-top: calc(var(--hamburger-height) + var(--hamburger-margin));
        display: block;
        max-height: max-content;
        width: 100%;
        background-color: rgb(255, 255, 255);
        position: absolute;
        top: 50%;
        left: 0;
        text-align: center;
        box-shadow: 1px 1px rgba(203, 201, 201, 0.5);
    }

    .nav__item {
        padding: 8px 0;
    }

    .nav__item:hover {
        background-color: rgba(241, 246, 233, 0.75);
    }

    .nav__link:hover, .dropdown:hover .nav__link {
        background-color: transparent;
    }

    .dropdown:hover .dropdown__list {
        display: none;
    }

    a.nav__link:focus ~ .dropdown__list {
        display: block;
    }

    .dropdown__list {
        position: relative;
        height: max-content;
        box-shadow: none;

    }
        
    .dropdown__item {
        padding: 5px;
        cursor: pointer;
    }
    
    .dropdown__item:hover {
        color: rgba(4, 87, 19, 0.75);
        background-color: rgba(241, 246, 233, 0.75);
    }

}
